//Primary Colors
$Instock-Black: #13182C;
$Instock-Indigo: #2e66e5;
$White: #FFFFFF;

//Secondary Colors
$Slate: #5C667E;
$Cloud: #BDC5D5;

//Background Colors
$Graphite: #232940;
$Light-Grey: #f7f8f9;

//Supporting Colors:
$Green: #158463;
$Red: #C94515;

