//Titillium Web #will add more if needed
@font-face{
    font-family: 'Titillium Regular';
    src: url("../assets/fonts/TitilliumWeb-Regular.ttf");
}

@font-face{
    font-family: 'Titillium Bold';
    src: url("../assets/fonts/TitilliumWeb-Bold.ttf");
}

@font-face{
    font-family: 'Titillium Semi';
    src: url("../assets/fonts/TitilliumWeb-SemiBold.ttf");
}

