//mixin for typekit

@mixin typekit ($fontsize, $lineheight, $fontweight){
    font-size: $fontsize;
    line-height: $lineheight;
    font-weight: $fontsize;
}

//Desktop/tablet typekit
$h1-pageHeader-fs: 2rem;
$h1-pageHeader-lh: 2.5rem;

$h2-subHeader-fs: 1.5rem;
$h2-pageHeader-lh: 2rem;

$h3-labels-fs: 0.875rem;
$h3-labels-lh: 1.375rem;

$h4-tableHeader-fs: 0.75rem;
$h4-tableHeader-lh: 1.125rem;

$p1-bodyLarge-fs: 1rem;
$p1-bodyLarge-lh: 1.75rem;

$p2-bodyMedium-fs: 0.875rem;
$p2-bodyMedium-lh: 1.375rem;

$p3-bodySmall-fs: 0.75rem;
$p3-bodySmall-lh: 1.125rem;


//Mobile typekit
$mh1-pageHeader-fs: 1.75rem;
$mh1-pageHeader-lh: 2.25rem;

$mh2-subHeader-fs: 1.25rem;
$mh2-pageHeader-lh: 1.75rem;

$mh3-labels-fs: 0.813rem;
$mh3-labels-lh: 1.25rem;

$mh4-tableHeader-fs: 0.75rem;
$mh4-tableHeader-lh: 1.125rem;

$mp1-bodyLarge-fs: 0.938rem;
$mp1-bodyLarge-lh: 1.625rem;

$mp2-bodyMedium-fs: 0.813rem;
$mp2-bodyMedium-lh: 1.25rem;

$mp3-bodySmall-fs: 0.688rem;
$mp3-bodySmall-lh: 1rem;